__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
instance/
.pytest_cache/
*.sqlite3
.DS_Store
.vscode/
.idea/
*.egg-info/
build/
dist/
*.egg
pip-log.txt
pip-delete-this-directory.txt
*~
node_modules/
Dockerfile
docker-compose*.yml
docker-compose*.yaml
*.git
