<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagem para PDF</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5277367888683216" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicion.svg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <a href="/" class="back-button">← Voltar</a>

        <h1>Imagem para PDF</h1>

        <p>Converta imagens em um único PDF</p>

        <form action="/image-to-pdf-page"
              method="POST"
              enctype="multipart/form-data">

            <div class="drop-zone" id="dropZone">

                <input type="file"
                       id="fileInput"
                       name="images"
                       accept=".jpg,.jpeg,.png"
                       multiple
                       hidden>

                <p>Arraste imagens aqui</p>
                <span>ou clique para selecionar</span>

            </div>

            <div id="fileList"></div>

            <button type="submit">
                Converter para PDF
            </button>

        </form>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>