<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juntar PDF</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5277367888683216" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicion.svg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <a href="/" class="back-button">← Voltar</a>

        <h1>Juntar PDFs</h1>

        <p>Combine múltiplos PDFs rapidamente</p>

        <form action="/merge-pdf" method="POST" enctype="multipart/form-data" id="uploadForm">

            <div class="drop-zone" id="dropZone">

                <input type="file"
                       id="fileInput"
                       name="pdfs"
                       multiple
                       accept=".pdf"
                       hidden>

                <p>Arraste PDFs aqui</p>
                <span>ou clique para selecionar</span>

            </div>

            <div id="fileList"></div>

            <button type="submit">
                Juntar PDFs
            </button>

        </form>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>