<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juntar PDF</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <a href="/" class="back-button">← Voltar</a>

        <h1>Juntar PDFs</h1>

        <p>Combine múltiplos PDFs rapidamente</p>

        <form id="uploadForm" action="/merge-pdf-page" method="POST" enctype="multipart/form-data">

            <div class="drop-zone" id="dropZone">
                <p>Arraste PDFs aqui</p>
                <span>ou clique para selecionar</span>
                <input type="file" id="fileInput" name="pdfs" multiple accept=".pdf" hidden required>
            </div>

            <div id="fileList"></div>

            <div class="loading-box" id="loadingBox">
                <div class="spinner"></div>
                <span>Mesclando PDF...</span>
            </div>

            <button type="submit" id="submitBtn">Juntar PDFs</button>

        </form>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>