<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - WL Converter</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5277367888683216" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    {% include 'includes/_modal.html' %}

    <nav class="navbar">

        <div class="logo">
            WL Converter
        </div>

        <div class="nav-links">

            <a href="/">Início</a>

            <a href="/#tools">Ferramentas</a>

            <a href="/contact">Contato</a>

        </div>

    </nav>

    <div class="container">

        <h1>Contato</h1>

        <p>
            Envie sugestões, dúvidas ou feedback sobre a plataforma.
        </p>

        <form action="/contact" class="contact-form"  method="POST">

            <input type="text" placeholder="Seu nome" required name="nome">

            <input type="email" placeholder="Seu email" required name="email">

            <textarea placeholder="Sua mensagem" rows="6" required name="mensagem"></textarea>

            <button id="sendEmailBtn" type="submit"> Enviar mensagem </button>

        </form>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>